<div class="rank">
  <%= index + 1 %>
</div>

<div class="votes">
  <img src="https://www.reddit.com/static/aupgray.gif">
  5582
  <img src="http://i.weirdnutdaily.com/images/downvote.gif">
</div>

<div class="post-content">
<div class="picture">
  <% if (thumbnail) { %>
    <img src="<%= thumbnail %>" class="picture">
  <% } %>
</div>

  <div>
    <a href="<%= post.get('link_url') %>" class="post-title">
      <%= post.get('data').title %>
    </a>

    <span class="domain">
      <a href="<%= 'https://www.reddit.com/domain/' + post.get('data').domain %>">
        (<%= post.get('data').domain %>)
      </a>
    </span>

    <div class="timeago">
      submitted <%= $.timeago(post.get('data').created_utc * 1000) %>
      by
      <a href="#"><%= post.get('data').author %></a>
      to
      <a href="<%= '/r/' + post.get('data').subreddit %>">
        <%= '/r/' + post.get('data').subreddit %>
      </a>
    </div>

    <div class="comments">
      <%= post.get('data').num_comments %> comments
      <span>share</span>
    </div>
  </div>
</div>
