<div class="rank">
  <%= index %>
</div>

<div class="votes">
  <img src="https://www.reddit.com/static/aupgray.gif">
  <%= this.model.get('data').score %>
  <img src="http://i.weirdnutdaily.com/images/downvote.gif">
</div>

<div class="post-content">
  <div class="picture">
    <% if (thumbnail) { %>
      <a href="<%= post.get('data').url %>">
        <img src="<%= thumbnail %>" class="picture">
      </a>
    <% } %>
  </div>

  <div>
    <a href="<%= post.get('data').url %>" class="post-title">
      <%= post.get('data').title %>
    </a>

    <span class="domain">
      <a href="<%= 'https://www.reddit.com/domain/' + post.get('data').domain %>">
        (<%= post.get('data').domain %>)
      </a>
    </span>

    <div class="timeago">
      submitted <%= $.timeago(post.get('data').created_utc * 1000) %>
      by
      <a href="https://www.reddit.com/user/<%= post.get('data').author %>">
        <%= post.get('data').author %></a>
      to
      <a href="<%= '/r/' + post.get('data').subreddit %>">
        <%= '/r/' + post.get('data').subreddit %>
      </a>
    </div>

    <div class="comments">
      <a href="https://www.reddit.com/<%= post.get('data').permalink %>">
        <%= post.get('data').num_comments %> comments</a>
      <span>share</span>
    </div>
  </div>
</div>
