<div class="rank">
  <%= index %>
</div>

<div class="votes"> <!-- TODO: expand width with content -->
  <img class="arrow up" src="https://www.reddit.com/static/aupgray.gif">
  <%= score %>
  <img class="arrow down" src="http://i.weirdnutdaily.com/images/downvote.gif">
</div>

<% if (thumbnail) { %>
  <div class="picture">
    <a href="<%= post.get('data').url %>">
      <img src="<%= thumbnail %>" class="picture">
    </a>
  </div>
<% } %>

<div class="post-content" style="padding-left: <%= paddingLeft %>;"> <!-- yuck -->
  <a href="<%= post.get('data').url %>" class="post-title">
    <%= post.get('data').title %>
  </a>

  <span class="domain">
    <a href="<%= 'https://www.reddit.com/domain/' + post.get('data').domain %>">
      (<%= post.get('data').domain %>)
    </a>
  </span><br>

  <% if (embedClass) { %>
    <div class="embed <%= embedClass %>"></div>
  <% } %>

  <div class="timeago">
    submitted
    <% if ($.timeago(post.get('data').created_utc * 1000) === 'seconds ago') { %>
      just now
    <% } else { %>
      <%= $.timeago(post.get('data').created_utc * 1000) %>
    <% } %>
    by
    <a href="https://www.reddit.com/user/<%= post.get('data').author %>">
      <%= post.get('data').author %></a>
    to
    <a href="<%= '/r/' + post.get('data').subreddit %>">
      <%= '/r/' + post.get('data').subreddit %>
    </a>
  </div>

  <div class="comments">
    <a href="https://www.reddit.com/<%= post.get('data').permalink %>">
      <% if (numComments === 0) { %>
        comment</a>
      <% } else if (numComments === 1) { %>
        1 comment</a>
      <% } else { %>
        <%= numComments %> comments</a>
      <% } %>
    <span class="show-share">share</span>
  </div>
</div>
