<div class="votes">
  <img class="arrow up" src="https://www.reddit.com/static/aupgray.gif">
  <%= score %>
  <img class="arrow down" src="http://i.weirdnutdaily.com/images/downvote.gif">
</div>

<% if (thumbnail) { %>
  <div class="picture">
    <a href="<%= post.get('data').url %>">
      <img src="<%= thumbnail %>">
    </a>
  </div>
<% } %>

<div class="post-content">
  <a href="<%= post.get('data').url %>" class="post-title">
    <%= post.get('data').title %>
  </a>

  <span class="domain">
    <a href="<%= 'https://www.reddit.com/domain/' + post.get('data').domain %>">
      (<%= post.get('data').domain %>)
    </a>
  </span>

  <div class="timeago">
    submitted <%= $.timeago(post.get('data').created_utc * 1000) %>
    by
    <a href="https://www.reddit.com/user/<%= post.get('data').author %>">
      <%= post.get('data').author %></a>
    to
    <a href="<%= '/r/' + post.get('data').subreddit %>">
      <%= '/r/' + post.get('data').subreddit %>
    </a>
  </div>

  <div class="comments">
    <a href="https://www.reddit.com/<%= post.get('data').permalink %>">
      <% if (num_comments === 0) { %>
        <span>comment</a></span>
      <% } else if (num_comments === 1) { %>
        <span>1 comment</a></span>
      <% } else { %>
        <span><%= num_comments %> comments</a></span>
      <% } %>
    <span>share</span>
  </div>
</div>

<div class="prev"></div>
<div class="next"></div>

<div class="whats-this">
  what's this?
</div>
