<% if @show_time_sort %>
  <div class="time-sort">
    links from:
    <span class="time-dropdown">
      <span class="time-link">
        <% if @t == 'all' %>
          <%= time_convert[@t.to_sym] %></span>
        <% else %>
          past <%= time_convert[@t.to_sym] %></span>
        <% end %>
        <span style="color: gray;">▼</span>
    </span>

    <ul class="time-options">
      <% %w(hour day week month year all).each do |time| %>
        <% next if @t == time %>
        <li class="option">
          <a href="<%= @subreddit %><%= @sort %>?sort=controversial&t=<%= time %>">
            <% if time == 'all' %>
              <%= time_convert[time.to_sym] %>
            <% else %>
              past <%= time_convert[time.to_sym] %>
            <% end %>
          </a>
        </li>
      <% end %>

      <!--
      <li class="option">
        <a href="<%= @subreddit %><%= @sort %>?sort=controversial&t=hour">
          past hour
        </a>
      </li>
      <li class="option">
        <a href="<%= @subreddit %><%= @sort %>?sort=controversial&t=week">
          past week
        </a>
      </li>
      <li class="option">
        <a href="<%= @subreddit %><%= @sort %>?sort=controversial&t=month">
          past month
        </a>
      </li>
      <li class="option">
        <a href="<%= @subreddit %><%= @sort %>?sort=controversial&t=year">
          past year
        </a>
      </li>
      <li class="option">
        <a href="<%= @subreddit %><%= @sort %>?sort=controversial&t=all">
          all time
        </a>
      </li>
    -->
    </ul>
  </div>

  <div class="time-sort-border"></div>
<% end %>

<div id="sponsored"></div>
<div id="posts"></div>
<div class="view-more">
  view more:
  <!-- TODO: fix next button -->
  <a href="#"><div class="next">next ›</div></a>
  or try a
  <a href="/r/random">
    <div class="random-subreddit">random subreddit</div>
  </a>
</div>
