<div class="graph"></div>
<div class="trending">
  trending subreddits

  <% subs.forEach(function (subreddit) { %>
    <a href="<%= subreddit %>" target="_blank">
      <%= subreddit %></a>
  <% }) %>

  <% if (numComments == 1) { %>
    <a href="https://www.reddit.com<%= permalink %>"
       class="comments">
      1 comment</a>
  <% } else { %>
  <a href="https://www.reddit.com<%= permalink %>"
     class="comments">
    <%= numComments %> comments</a>
  <% } %>
</div>
