view more:

<% if (before) { %>
  <a href="<%= currentUrl %><%= countBefore %>&before=<%= before %>">
    <div class="prev next">‹ prev</div></a>
    <div class="bar"></div>
<% } %>

<% if (after) { %>
  <a href="<%= currentUrl %><%= countAfter %>&after=<%= after %>">
    <div class="next">next ›</div></a>
  or try a
  <a href="/r/random">
    <div class="random-subreddit">random subreddit</div>
  </a>
<% } %>
