<img src="https://www.redditstatic.com/about/assets/reddit-logo.png">
<ul class="tabs">
  <% %w(hot new rising controversial top gilded wiki promoted).each do |tab| %>
    <% if params[:sort].nil? && tab == 'hot' %>
      <li class="tab selected">
        <a href="<%= @subreddit %>/hot">hot</a>
      </li>
      <% next %>
    <% end %>

    <!-- TODO: make sure clicking on tab fetches correctly -->
    <li class="tab <%= 'selected' if params[:sort] == tab %>">
      <a href="<%= @subreddit %>/<%= tab %>"><%= tab %></a>
    </li>
  <% end %>
</ul>

<div class="join-invite">
  Want to join?
  <a href="#" >Log in or sign up</a>
  in seconds. |
  <a href="#" class="language">English</a>
</div>
