<img src="https://www.redditstatic.com/about/assets/reddit-logo.png">
<ul class="tabs">
  <li class="tab <%= 'selected' if @sort.nil? %>">
    <a href="<%= @subreddit %>">hot</a>
  </li>

  <% %w(new rising controversial top).each do |tab| %>
    <li class="tab <%= 'selected' if @sort == tab %>">
      <a href="<%= @subreddit %><%= tab %>"><%= tab %></a>
    </li>
  <% end %>

  <!-- TODO: these links to real reddit page -->
  <% %w(gilded wiki promoted).each do |tab| %>
    <li class="tab <%= 'selected' if @sort == tab %>">
      <a href="https://www.reddit.com<%= @subreddit %><%= tab %>"><%= tab %></a>
    </li>
  <% end %>

</ul>

<div class="join-invite">
  Want to join?
  <a class="login">Log in or sign up</a>
  in seconds. |
  <a class="language">English</a>
</div>
