<span class="subreddit-index-item more">
  <a href="https://www.reddit.com/subreddits">MORE »</a>
</span>

<div class="subreddit-list">
  <span class="my-subreddits">
    MY SUBREDDITS <span style="color: gray;">▼</span>
  </span>

  <span class="subreddit-index-item">
    <a class="<%= 'inuse' if params[:subreddit].nil? %>"
       href="/">FRONT</a>
  </span><span class="separator">-</span>

  <span class="subreddit-index-item">
    <a class="<%= 'inuse' if params[:subreddit] == 'all' %>"
       href="/r/all">ALL</a>
  </span><span class="separator">-</span>

  <span class="subreddit-index-item">
    <a id="random">RANDOM</a>
  </span>

  <span class="separator pipe">|</span>

  <% subreddit_list.each_with_index do |sub, i| %>
    <span class="subreddit-index-item">
      <a class="<%= 'inuse' if params[:subreddit] == sub %>"
         href="/r/<%= sub %>"><%= sub.upcase %></a>
    </span>

    <% unless i == subreddit_list.length - 1 %>
      <span class="separator">-</span>
    <% end %>
  <% end %>
</div>

<div class="my-subreddits-dropdown">
  <% dropdown_subreddits.each do |sub| %>
    <a href="/r/<%= sub %>">
      <div class="subreddit-index-item">
        <%= sub.upcase %>
      </div>
    </a>
  <% end %>
</div>
