<div class="subreddit-list">
  <span class="my-subreddits">
    MY SUBREDDITS ▼
  </span>

  <span class="subreddit-index-item
        <%= 'inuse' if request.env['PATH_INFO'].split('/').include?('front') ||
        request.env['PATH_INFO'].split('/').length == 0 %>">
      FRONT</span> -

  <span class="subreddit-index-item
        <%= 'inuse' if request.env['PATH_INFO'].split('/').include? 'all' %>">
      ALL</span> -

  <span class="subreddit-index-item
        <%= 'inuse' if request.env['PATH_INFO'].split('/').include? 'random' %>">
      RANDOM</span>

  <span style="margin-left: 5px; margin-right: 5px;">|</span>

  <% subreddit_list.each_with_index do |sub, i| %>
    <span class="subreddit-index-item
          <%= 'inuse' if request.env['PATH_INFO'].split('/').include? sub.name %>">
        <%= sub.name.upcase %>
    </span>

    <% unless i == subreddit_list.length - 1 %>
      -
    <% end %>
  <% end %>
</div>
<span class="subreddit-index-item more">MORE >></span>

<div class="my-subreddits-dropdown hide">
  <% subreddit_list.each do |sub| %>
    <div class="subreddit-index-item"><%= sub.name.upcase %></div>
  <% end %>
</div>
