<div class="subreddit-list">
  <span class="my-subreddits">
    MY SUBREDDITS ▼
  </span>

  <span class="subreddit-index-item">
    <a class="<%= 'inuse' if params[:subreddit] == 'front' %>"
       href="/r/front">FRONT</a>
  </span> -

  <span class="subreddit-index-item">
    <a class="<%= 'inuse' if params[:subreddit] == 'all' %>"
       href="/r/all">ALL</a>
  </span> -

  <span class="subreddit-index-item">
    <a class="<%= 'inuse' if params[:subreddit] == 'random' %>"
       href="/r/random">RANDOM</a>
  </span>

  <span style="margin-left: 5px; margin-right: 5px;">|</span>

  <% subreddit_list.each_with_index do |sub, i| %>
    <span class="subreddit-index-item">
      <a class="<%= 'inuse' if params[:subreddit] == sub.name %>"
         href="/r/<%= sub.name %>"><%= sub.name.upcase %></a>
    </span>

    <% unless i == subreddit_list.length - 1 %>
      -
    <% end %>
  <% end %>
</div>
<span class="subreddit-index-item more">MORE >></span>

<div class="my-subreddits-dropdown">
  <% subreddit_list.each do |sub| %>
    <div class="subreddit-index-item"><%= sub.name.upcase %></div>
  <% end %>
</div>
